:root {
    --color-correct-letter: firebrick;
    --color-misplaced-letter: #efb409;
}

body {
    background-color: #0584c9;
    color: white;
    font-family: Helvetica, sans-serif;
}

a {
    color: white;
}

html {
    font-size: 16px;
    --cell-size: 3rem;
    --cell-border-size: 1px;
}
@media (min-width:768px) {
    html {
        font-size: 18px;
    }
}
@media (min-width:1024px) {
    html {
        font-size: 19px;
        --cell-border-size: 2px;
    }
}
@media (min-width:1280px) {
    html {
        font-size: 20px;
        --cell-size: 4rem;
    }
}
